/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.ss-site-title-container{
	width: fit-content;
	padding: .8rem;
	background-color: transparent;

	svg{
		transition: all .4s ease-out;
		transform: scale(.8);
		path{
			transition: inherit;
		}
	}

	&:hover{
		svg{
			transform: scale(.9);
			
			path{
				fill: var(--accent-color-1);
			}
		}
	}
}
