/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.ss-footer-logo-container{
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .8rem;
}