/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.ss-footer-logo-container{
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .8rem;
}