/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.ss-socmed-link{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--text-light-color);
	cursor: pointer;
	transition: all .3s ease-out;

	&:hover{
		font-weight: 700;
	}
}